<div class="card shadow">
    <h4 class="card-header">Danh sách Editor

    </h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">IDUser</th>
                <th scope="col">Tên Editor</th>
                <th scope="col" class="text-right">
                    <a class="btn btn-outoutline-success" href="/admin/categories/add" role="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Xem chi tiết
                    </a>
                </th>

            </tr>
        </thead>
        <tbody>
            {{#each this.categories}}
            <tr>
                <th scope="row">{{IDUser}}</th>
                <td>{{FirstName}}</td>
                <td class="text-right">
                    <a class="btn btn-primary btn-sm" href="javascript:;" role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>